In [2]:
# Importing all libraries from other file

%run Libraries.ipynb

In [3]:
# Loading dataset
data = pd.read_csv('Dataset_1.csv')

## Understanding the Data

In [4]:
# To view first five row of the dataset
data.head()

,REF_DATE,GEO,DGUID,Labour force characteristics,North American Industry Classification System (NAICS),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1976,Canada,2016A000011124,Labour force,"Total, all industries",Both sexes,15 years and over,Persons,249,thousands,3,v2363353,1.1.1.1.1,10491.3,NaN,NaN,NaN,1
1,1976,Canada,2016A000011124,Labour force,"Total, all industries",Both sexes,15 to 24 years,Persons,249,thousands,3,v19668072,1.1.1.1.2,2891.9,NaN,NaN,NaN,1
2,1976,Canada,2016A000011124,Labour force,"Total, all industries",Both sexes,25 to 54 years,Persons,249,thousands,3,v19668073,1.1.1.1.3,6410.7,NaN,NaN,NaN,1
3,1976,Canada,2016A000011124,Labour force,"Total, all industries",Both sexes,55 years and over,Persons,249,thousands,3,v19668074,1.1.1.1.4,1188.7,NaN,NaN,NaN,1
4,1976,Canada,2016A000011124,Labour force,"Total, all industries",Males,15 years and over,Persons,249,thousands,3,v2363523,1.1.1.2.1,6549.6,NaN,NaN,NaN,1

In [5]:
# To view last five row of the dataset
data.tail()

,REF_DATE,GEO,DGUID,Labour force characteristics,North American Industry Classification System (NAICS),Sex,Age group,UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
953827,2021,British Columbia,2016A000259,Unemployment rate,Public administration [91],Males,55 years and over,Percentage,242,units,0,v19684898,11.6.28.2.4,NaN,x,NaN,NaN,1
953828,2021,British Columbia,2016A000259,Unemployment rate,Public administration [91],Females,15 years and over,Percentage,242,units,0,v2368960,11.6.28.3.1,NaN,x,NaN,NaN,1
953829,2021,British Columbia,2016A000259,Unemployment rate,Public administration [91],Females,15 to 24 years,Percentage,242,units,0,v19684899,11.6.28.3.2,NaN,x,NaN,NaN,1
953830,2021,British Columbia,2016A000259,Unemployment rate,Public administration [91],Females,25 to 54 years,Percentage,242,units,0,v19684900,11.6.28.3.3,NaN,x,NaN,NaN,1
953831,2021,British Columbia,2016A000259,Unemployment rate,Public administration [91],Females,55 years and over,Percentage,242,units,0,v19684901,11.6.28.3.4,NaN,x,NaN,NaN,1

In [6]:
# To display count of row and columns
data.shape

(953832, 18)

In [7]:
# To view statistics of the dataset
data.describe()

,REF_DATE,UOM_ID,SCALAR_ID,VALUE,SYMBOL,TERMINATED,DECIMALS
count,953832.000000,953832.000000,953832.000000,676194.000000,0.0,0.0,953832.0
mean,1999.938555,247.848187,2.506366,82.815491,NaN,NaN,1.0
std,12.754305,2.595385,1.112308,452.486303,NaN,NaN,0.0
min,1976.000000,242.000000,0.000000,0.200000,NaN,NaN,1.0
25%,1990.000000,249.000000,3.000000,2.600000,NaN,NaN,1.0
50%,2000.000000,249.000000,3.000000,8.000000,NaN,NaN,1.0
75%,2011.000000,249.000000,3.000000,29.600000,NaN,NaN,1.0
max,2021.000000,249.000000,3.000000,20385.300000,NaN,NaN,1.0

In [8]:
# To Display feature names
data.columns

Index(['REF_DATE', 'GEO', 'DGUID', 'Labour force characteristics',
       'North American Industry Classification System (NAICS)', 'Sex',
       'Age group', 'UOM', 'UOM_ID', 'SCALAR_FACTOR', 'SCALAR_ID', 'VECTOR',
       'COORDINATE', 'VALUE', 'STATUS', 'SYMBOL', 'TERMINATED', 'DECIMALS'],
      dtype='object')

In [9]:
# Removing irrelevant columns from data
data1 = data.drop(['TERMINATED','SYMBOL','DGUID','UOM','UOM_ID','COORDINATE','VECTOR','SCALAR_FACTOR','SCALAR_ID','STATUS','DECIMALS'],axis=1)

In [10]:
# Data types of 'data1'
data1.dtypes

REF_DATE                                                   int64
GEO                                                       object
Labour force characteristics                              object
North American Industry Classification System (NAICS)     object
Sex                                                       object
Age group                                                 object
VALUE                                                    float64
dtype: object

In [11]:
# Checking no. of columns and rows of dataset
data1.shape

(953832, 7)

In [12]:
# Checking for null values
data1.isnull().sum()

REF_DATE                                                      0
GEO                                                           0
Labour force characteristics                                  0
North American Industry Classification System (NAICS)         0
Sex                                                           0
Age group                                                     0
VALUE                                                    277638
dtype: int64

In [13]:
# Removing null values 
data2 = data1.dropna(how='any',axis=0)

In [14]:
# After removing null values
data2.isnull().sum()

REF_DATE                                                 0
GEO                                                      0
Labour force characteristics                             0
North American Industry Classification System (NAICS)    0
Sex                                                      0
Age group                                                0
VALUE                                                    0
dtype: int64

In [15]:
# Checking no. of rows and cloumns
data2.shape

(676194, 7)

In [16]:
# Checking for unique values in data
data2.nunique()

REF_DATE                                                    46
GEO                                                         11
Labour force characteristics                                 6
North American Industry Classification System (NAICS)       29
Sex                                                          3
Age group                                                    4
VALUE                                                    17312
dtype: int64

### Dividing data into parts:

### 1) Before Pandemic(Year 2017-2019)
### 2) During Pandemic(Year 2020-2021)

In [74]:
# Selecting data of only year of 2017-2019 and saving it in new variable

Before_Pandemic = data2[(data2.REF_DATE > 2016) & (data2.REF_DATE <= 2019)]

Before_Pandemic

,REF_DATE,GEO,Labour force characteristics,North American Industry Classification System (NAICS),Sex,Age group,VALUE
841632,2017,Canada,Labour force,"Total, all industries",Both sexes,15 years and over,19530.3
841633,2017,Canada,Labour force,"Total, all industries",Both sexes,15 to 24 years,2829.8
841634,2017,Canada,Labour force,"Total, all industries",Both sexes,25 to 54 years,12634.6
841635,2017,Canada,Labour force,"Total, all industries",Both sexes,55 years and over,4065.8
841636,2017,Canada,Labour force,"Total, all industries",Males,15 years and over,10305.3
...,...,...,...,...,...,...,...
908928,2019,British Columbia,Unemployment rate,Other services (except public administration) ...,Both sexes,15 years and over,2.7
908929,2019,British Columbia,Unemployment rate,Other services (except public administration) ...,Both sexes,15 to 24 years,11.4
908932,2019,British Columbia,Unemployment rate,Other services (except public administration) ...,Males,15 years and over,2.9
908936,2019,British Columbia,Unemployment rate,Other services (except public administration) ...,Females,15 years and over,2.6
908940,2019,British Columbia,Unemployment rate,Public administration [91],Both sexes,15 years and over,1.7

In [18]:
# Removing 'Unemployment rate' variable as it contains value in percentage(%) unit.

Before_Pandemic = Before_Pandemic[Before_Pandemic['Labour force characteristics'] != 'Unemployment rate']

Before_Pandemic

,REF_DATE,GEO,Labour force characteristics,North American Industry Classification System (NAICS),Sex,Age group,VALUE
841632,2017,Canada,Labour force,"Total, all industries",Both sexes,15 years and over,19530.3
841633,2017,Canada,Labour force,"Total, all industries",Both sexes,15 to 24 years,2829.8
841634,2017,Canada,Labour force,"Total, all industries",Both sexes,25 to 54 years,12634.6
841635,2017,Canada,Labour force,"Total, all industries",Both sexes,55 years and over,4065.8
841636,2017,Canada,Labour force,"Total, all industries",Males,15 years and over,10305.3
...,...,...,...,...,...,...,...
908611,2019,British Columbia,Unemployment,Unclassified industries,Males,55 years and over,6.0
908612,2019,British Columbia,Unemployment,Unclassified industries,Females,15 years and over,25.3
908613,2019,British Columbia,Unemployment,Unclassified industries,Females,15 to 24 years,6.3
908614,2019,British Columbia,Unemployment,Unclassified industries,Females,25 to 54 years,15.4
908615,2019,British Columbia,Unemployment,Unclassified industries,Females,55 years and over,3.7

In [19]:
During_Pandemic = data2[(data2.REF_DATE > 2019) & (data2.REF_DATE <= 2021)]

During_Pandemic

,REF_DATE,GEO,Labour force characteristics,North American Industry Classification System (NAICS),Sex,Age group,VALUE
908952,2020,Canada,Labour force,"Total, all industries",Both sexes,15 years and over,19896.6
908953,2020,Canada,Labour force,"Total, all industries",Both sexes,15 to 24 years,2775.5
908954,2020,Canada,Labour force,"Total, all industries",Both sexes,25 to 54 years,12807.8
908955,2020,Canada,Labour force,"Total, all industries",Both sexes,55 years and over,4313.3
908956,2020,Canada,Labour force,"Total, all industries",Males,15 years and over,10534.8
...,...,...,...,...,...,...,...
953805,2021,British Columbia,Unemployment rate,Accommodation and food services [72],Females,15 to 24 years,7.6
953806,2021,British Columbia,Unemployment rate,Accommodation and food services [72],Females,25 to 54 years,5.0
953807,2021,British Columbia,Unemployment rate,Accommodation and food services [72],Females,55 years and over,11.3
953808,2021,British Columbia,Unemployment rate,Other services (except public administration) ...,Both sexes,15 years and over,2.0
953820,2021,British Columbia,Unemployment rate,Public administration [91],Both sexes,15 years and over,1.5

In [20]:
During_Pandemic = During_Pandemic[During_Pandemic['Labour force characteristics'] != 'Unemployment rate']

During_Pandemic

,REF_DATE,GEO,Labour force characteristics,North American Industry Classification System (NAICS),Sex,Age group,VALUE
908952,2020,Canada,Labour force,"Total, all industries",Both sexes,15 years and over,19896.6
908953,2020,Canada,Labour force,"Total, all industries",Both sexes,15 to 24 years,2775.5
908954,2020,Canada,Labour force,"Total, all industries",Both sexes,25 to 54 years,12807.8
908955,2020,Canada,Labour force,"Total, all industries",Both sexes,55 years and over,4313.3
908956,2020,Canada,Labour force,"Total, all industries",Males,15 years and over,10534.8
...,...,...,...,...,...,...,...
953491,2021,British Columbia,Unemployment,Unclassified industries,Males,55 years and over,10.9
953492,2021,British Columbia,Unemployment,Unclassified industries,Females,15 years and over,43.5
953493,2021,British Columbia,Unemployment,Unclassified industries,Females,15 to 24 years,11.9
953494,2021,British Columbia,Unemployment,Unclassified industries,Females,25 to 54 years,20.5
953495,2021,British Columbia,Unemployment,Unclassified industries,Females,55 years and over,11.1

In [21]:
Before_Pandemic.set_index('REF_DATE', inplace=True)

During_Pandemic.set_index('REF_DATE', inplace=True)

In [22]:
#Saving files

Before_Pandemic.to_csv('C:/Users/Kuldeep/OneDrive/Desktop/DAB402/Before_Pandemic.csv')

During_Pandemic.to_csv('C:/Users/Kuldeep/OneDrive/Desktop/DAB402/During_Pandemic.csv')